.movies{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.movie{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px orange;
}

header,footer{
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: center;
}